<div id="<%= dom_id player %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= player.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= player.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Dob:</strong>
    <%= player.dob %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= player.user_id %>
  </p>

</div>
